.MuiCardMedia-root{
    background-size: contain !important;
}

.filterButton{
    position: fixed;
    right:0;
    top: 60%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    
    

}
container{
   
    margin-right: 260px;
}

/* .LeftSideButton{
    position: fixed;
} */