.ResourcesBtn{
    background: #C59237;
background: -moz-linear-gradient(left, #C59237 0%, #2C9BA4 50%, #CE5937 100%);
background: -webkit-linear-gradient(left, #C59237 0%, #2C9BA4 50%, #CE5937 100%);
background: linear-gradient(to right, #C59237 0%, #2C9BA4 50%, #CE5937 100%);
}
.ResourcesBtn2{
    background: #CE5937;
background: -moz-linear-gradient(left, #CE5937 0%, #2C9BA4 50%, #C59237 100%);
background: -webkit-linear-gradient(left, #CE5937 0%, #2C9BA4 50%, #C59237 100%);
background: linear-gradient(to right, #CE5937 0%, #2C9BA4 50%, #C59237 100%);
}