@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
  font-size: 90.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
